
* {
    margin: 0;
    padding: 10px 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: cursive;
    background-color: var(--about-a);
    background-position: center center;
}

/* Estilos de seção unificados */
section {
    width: auto;
    height: auto;
    background-size: cover;
    text-align:left;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.main-bg-rodape-2 p {
    background-image: url('../img/gif.gif');
    font-family: sans-serif;
    color: var(--color-p);
    font-size: 11px;
}

.top .meio .fim .rodape-social{
    text-align: center;
}

.main-bg-top {
    background-image: url('../img/img-principal.svg');
    color: var(--about-a);
    padding: 100px 40px;
}

.main-bg-meio {
    background-image: url('../img/bg-img-meio.svg');
    background-color: var(--about-a);
    padding: 100px 40px;
}

.main-bg-fim {
    background-image: url('../img/img-principal.svg');
    color: var(--about-a);
    padding: 100px 40px;
}

.main-bg-galeria {
    background-image: url('../img/bg-img-meio.svg');
    background-color: var(--about-a);
    padding: 100px 40px;
}



.main-bg-ant-rodape {
    background-color: var(--menu-ant-rdp);
    color: var(--about-a);
    padding: 10px;
    text-align: center;
  
}


.main-bg-rodape-1 {
    background-color: var(--menu-color);
    color: var(--about-a);
    padding: 10px;
    text-align: center;
}
.main-bg-rodape-2 {
    background-color: var(--menu-color);
    color: var(--about-a);
    padding: 10px;
    text-align: center;
}
.main-bg-rodape-3 {
    background-color: var(--menu-color);
    color: var(--about-a);
    padding: 10px;
    text-align: center;
}
