/* Media Queries */
/* Regras de mídia para responsividade */

@media (max-width: 768px) {
    .main-bg-top {
        grid-template-columns: 1fr; /* Alterar layout para uma coluna em telas menores */
        height: auto; /* Ajustar altura para se adequar ao conteúdo */
        font-size: 18px;
        width: 100%;
    }

}

@media (max-width: 768px) {
    .main-bg-meio {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}

@media (max-width: 768px) {
    .main-bg-fim {
        grid-template-columns: 1fr; 
        height: auto; 
        width: 100%;
    }

    .buton-fim {
        width: 90%; 
        font-size: 18px; 
        margin: 20px auto;
    }
}
@media (max-width: 768px) {
    .main-bg-ant-rodape {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}
@media (max-width: 768px) {
    .main-bg-rodape-1 {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}
@media (max-width: 768px) {
    .main-bg-rodape-2 {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}
@media (max-width: 768px) {
    .main-bg-rodape-3 {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}


/* Estilos para telas menores */
@media (max-width: 768px) {
    .menu-about {
        height: auto; 
        width: 100%; 
        font-size: 10px;
    }

}


@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column; /* Em telas menores, empilha o menu e o conteúdo */
    }

    .sidebar-menu {
        width: 100%; /* Menu ocupa toda a largura em telas menores */
        padding: 10px 0;
        box-shadow: none;
    }

    .sidebar-menu .menu-about-link {
        display: flex; /* Faz os itens do menu ficarem lado a lado (horizontal) */
        justify-content: space-around; /* Distribui os itens uniformemente */
        flex-wrap: wrap; /* Permite que os itens quebrem linha se não houver espaço */
    }

    .sidebar-menu .menu-about-link li {
        margin-bottom: 0; /* Remove a margem vertical entre itens em telas menores */
    }

    .sidebar-menu .menu-about-link a {
        padding: 8px 15px; /* Ajusta o padding dos links */
    }

    .content-area {
        padding: 10px;
    }
}