/* Media Queries */
/* Regras de mídia para responsividade */

@media (max-width: 768px) {
    .main-bg-top {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}

@media (max-width: 768px) {
    .main-bg-meio {
        grid-template-columns: 1fr; 
        height: auto;
        font-size: 18px;
        width: 100%;
    }

}

@media (max-width: 768px) {
    .main-bg-fim {
        grid-template-columns: 1fr; 
        height: auto; 
        width: 100%;
    }

    .buton-fim {
        width: 90%; 
        font-size: 18px; 
        margin: 20px auto; 
    }
}
@media (max-width: 768px) {
    .main-bg-ant-rodape {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}
@media (max-width: 768px) {
    .main-bg-rodape-1 {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}
@media (max-width: 768px) {
    .main-bg-rodape-2 {
        grid-template-columns: 1fr;
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}
@media (max-width: 768px) {
    .main-bg-rodape-3 {
        grid-template-columns: 1fr; 
        height: auto; 
        font-size: 18px;
        width: 100%;
    }

}


/* Estilos para telas menores */
@media (max-width: 768px) {
    .menu-about {
        height: auto; 
        width: 100%; 
        font-size: 10px;
    }

}