
.menu-about {
   
    background-color: var(--menu-color);
    padding: 0px 0px 0px 36px;
    text-align: center;
    font-family: Verdana;
    font-size: 15.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;/* Adicionado esta linha para garantir que o menu esteja acima de outros elementos */
}

.menu-about ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

menu-about ul li {
    padding: 0 15px;
}
.menu-about ul li a{
    text-decoration: none;
    color: var(--about-a);
    position: relative;
    padding: 0;
      
}

.menu-about ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    left: 50%;
    height: 2%;
    background-color: #4682B4;
    transition: all 300ms ease-in-out;
}

.menu-about ul li a:hover::after {
    width: 100%;
    left: 0;
}
