
/* Estilo para o botao CLIQUE AQUI*/
.buton-fim {
    display: inline-flex;
    cursor: pointer;
    margin: 0 auto;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color-button-letra);
    border: 2px solid transparent;
    position:relative;
    padding: 10px 20px;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 0;
          
}

.buton-fim::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 0.5px solid #ECE8E1;
    z-index: -1;
}
    

.buton-fim::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100;
    height: 100%;
    z-index: -1;
    transition: left 0.10s ease-in;
 
}

.buton-fim:hover {
    background-color: var(--color-transition);
    color: white; 
}

.a {
    color: var(--color-button-transition);
    text-decoration: none;
}


/* Estilo para o RODAPE - REDES SOCIAIS */
.main-bg-ant-rodape {
    color: var(--about-a);
    font-family: Verdana;
    font-size: 15.5px;
    display: flex;  
    justify-content: center; /* Distribui os elementos lado a lado */

}

.main-bg-ant-rodape ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}


.main-bg-ant-rodape ul li a {
    text-decoration: none;
    color: var(--color-rodape);
    transition: all .2s ;

   
}
.main-bg-ant-rodape ul li a:hover {
    background-color: var(--color-transition);
    border-radius: 5px;
   
}

/* Botao para voltar ao TOPO 
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-button);
    color: var(--color-button-letra);
    padding: 5px 20px;
    cursor: pointer;
    display: none;
}*/